:root {
  /* shared base values */
  --tile-border: #ccc;
  --text-color: #000;
  --bg-color: #fff;

  /* Wordle colors */
  --green: #538d4e;
  --yellow: #B5934b;
  --gray: #3a3a3c;

  /* overlay */
  --win-box-bg: #ffffff;
  --win-box-text: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --tile-border: #888;
    --text-color: #eee;
    --bg-color: #121212;

    --green: #538d4e;
    --yellow: #B5934b;
    --gray: #3a3a3c;

    --win-box-bg: #1f1f1d;
    --win-box-text: #f0f0f0;
  }
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--bg-color);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
